@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

h1 {
  font-family: "Fredericka the Great", cursive;
  font-weight: 200;
  color: var(--red);
}

.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.img-wrapper {
  background-color: var(--white);
}

.img-wrapper:hover {
  background-color: var(--red);
}

.img-wrapper:hover a {
  color: var(--white);
}
